<a href="https://colab.research.google.com/github/Taeichang/DataAnalysis/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_6%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 오픈소스 기반 데이터 분석 6강 - 데이터 전처리 1

## 4.2 Pandas를 이용한 데이터 측정

*   데이터 측정은 값의 크기를 확인뿐만 아니라, 전반적인 분포와 특성을 파악 후, 전처리 및 분석 방향을 설정하는 기초 단계
*   데이터 측정 기준 (분석 단위에 따라 나눔)
    * 전체 데이터 측정:
        * 데이터 셋 전체에 대한 통계량을 계산
        * 전반적인 경향과 특성 파악
        * 집합 전체를 하나의 대상 ex. 전체 고객 평균 나이, 전체 상품 평균 가격
    * 레코드별 측정:
        * 개별 레코드(행)을 분석 단위로 삼아 통계량을 계산 ex. 고객별 총 구매 금액, 학생별 시험 점수 평균
        * 개별 객체의 특성을 구체적으로 이해하는데 활용
    * 그룹별 특정
        * 특정 기준에 따라 데이터를 집단으로 나눔, 각 그룹별 통계량 산출
        * 집단 간 차이 비교 ex. 성별에 따른 평균 나이, 지역별 평균 소득



*   요약 통계 지표 p.161
*   기타 통계 지표 p.162

### 3.4.2 데이터 훑어보기



*   describe() 함수의 제공 통계량 p.162-163

* 기본적으로 수치형 데이터에 대한 요약 정보 반환, 범주형 데이터는 inlude = 'object' 또는 include = 'category' 옵션을 지정

> include = 'all' : 모든 데이터 타입

> include = [np.number] : 수치형 데이터 타입

>include = ['object'] : 범주형 데이터 타입

In [10]:
import pandas as pd
import numpy as np # pandas 안에 자료는 numpy array로 저장 됨. 데이터 측정 시 어떤 numpy 측정 개체만 살펴봄

data = {
    'name': ['김민수', '이지영', '박준호', '최서연', '정도윤'],
    'age': [25, 30, 28, 22, 35],
    'city': ['서울', '부산', '인천', '서울', '대전'],
    'score': [90, 85, 95, 80, np.nan]
}
df = pd.DataFrame(data)

# 데이터 측정
print('1. 기본 describe( ):')
print(df.describe())

# 모든 데이터 타입 측정
# 수치형 + 범주형 = 전반적 거시적 정보
print('\n2. 모든 데이터 타입:')
print(df.describe(include = 'all'))

# 수치형 데이터 측정
print('\n3. 수치형 데이터만:')
print(df.describe(include = [np.number]))

# 범주형 데이터 측정
print('\n4. 범주형 데이터만:')
print(df.describe(include = ['object']))

# 특정 열 분석
print('\n5. score 열 분석:')
print(df['score'].describe())

1. 기본 describe( ):
             age      score
count   5.000000   4.000000
mean   28.000000  87.500000
std     4.949747   6.454972
min    22.000000  80.000000
25%    25.000000  83.750000
50%    28.000000  87.500000
75%    30.000000  91.250000
max    35.000000  95.000000

2. 모든 데이터 타입:
       name        age city      score
count     5   5.000000    5   4.000000
unique    5        NaN    4        NaN
top     김민수        NaN   서울        NaN
freq      1        NaN    2        NaN
mean    NaN  28.000000  NaN  87.500000
std     NaN   4.949747  NaN   6.454972
min     NaN  22.000000  NaN  80.000000
25%     NaN  25.000000  NaN  83.750000
50%     NaN  28.000000  NaN  87.500000
75%     NaN  30.000000  NaN  91.250000
max     NaN  35.000000  NaN  95.000000

3. 수치형 데이터만:
             age      score
count   5.000000   4.000000
mean   28.000000  87.500000
std     4.949747   6.454972
min    22.000000  80.000000
25%    25.000000  83.750000
50%    28.000000  87.500000
75%    30.000000  91.250000
max    35.000000  95.000000

4. 범주형 데이터만:
       name city
count     5    5
unique    5    4
top     김민수   서울
freq      1    2

5. score 열 분석:
count     4.000000
mean     87.500000
std       6.454972
min      80.000000
25%      83.750000
50%      87.500000
75%      91.250000
max      95.000000
Name: score, dtype: float64

### 3.4.3 DataFrame 열 선택 및 조작



*   특정 열 선택 - df['열이름'], df[['열1', '열2']]
*   열 순서 변경 - df[new_order]
*   열 이름 변경 - df.rename(columns = {'기존이름':'새이름'})
* inplace = True 사용 시 원본 DataFrame 직접 수정

In [11]:
# DataFrame의 인덱싱 기법을 이용해 원하는 데이터 가져옴
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}
df = pd.DataFrame(data)

# 특정 열 선택
selected_cols = df[['이름', '학과', '학점']]
print('\n1. 특정 열만 선택:')
print(selected_cols)

# DataFrame 열순서 변경
reordered_cols = df[['학과', '이름', '학년', '학점', '동아리']]
print('\n2. 열 순서 변경:')
print(reordered_cols)

# DataFrame 열이름 변경
# 다른 알고리즘의 입력으로 사용되는 경우
df_renamed = df.rename(columns = {'이름': '학생명', '학점': '평점', '동아리': '과외활동'})
print('\n3. 열 이름 변경:')
print(df_renamed)

1. 특정 열만 선택:
    이름     학과   학점
0  김철수  컴퓨터공학  4.2
1  이영희    경영학  3.8
2  박민수   전자공학  4.5
3  최지훈     의학  3.9
4  정소희    심리학  3.5

2. 열 순서 변경:
      학과   이름  학년   학점    동아리
0  컴퓨터공학  김철수   1  4.2  프로그래밍
1    경영학  이영희   2  3.8   독서토론
2   전자공학  박민수   3  4.5   로봇공학
3     의학  최지훈   4  3.9   봉사활동
4    심리학  정소희   2  3.5   음악감상

3. 열 이름 변경:
   학생명  학년   평점     학과   과외활동
0  김철수   1  4.2  컴퓨터공학  프로그래밍
1  이영희   2  3.8    경영학   독서토론
2  박민수   3  4.5   전자공학   로봇공학
3  최지훈   4  3.9     의학   봉사활동
4  정소희   2  3.5    심리학   음악감상

### 3.4.4

#### DataFrame 행 선택

* loc 인덱서 - 인덱스 이름 또는 조건을 사용하여 행 선택
* iloc 인덱서 - 정수 위치 기반으로 행 선택
* df['열이름'] - 특정 컬럼을 지정해 조건을 사용하여 특정 행 선택, 여러 개일 경우, 열 이름 리스트로 묶어주기

In [12]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

#DataFrame 인덱스 지정
df = pd.DataFrame(data, index = data['이름'])

#DataFrame 행 선택
# cell index를 안 썼을 경우 0부터 숫자를 사용
df.loc['김철수']
df.loc[['김철수', '이영희']]
df.loc['김철수':'박민수']

#DataFrame 위치 기반 행 선택
df.iloc[1]
df.iloc[[2,3]]
df.iloc[1:3]

# DataFrame 조건 기반 선택
# 조건식을 이용해 불리언 인덱스를 만들고, 불리언 인덱스를 통해 데이터프레임의 값을 가져옴
df.loc[[True, False, True, False, False]] # 레코드의 개수
print(df[['학점', '학년']])
df.loc[df['학점'] >= 4.0] #loc 함수
df[df['학년'] == 2] #df 인덱싱 안에서 실행
df[(df['학년'] == 2) & (df['학점'] >= 3.7)]

      학점  학년
김철수  4.2   1
이영희  3.8   2
박민수  4.5   3
최지훈  3.9   4
정소희  3.5   2

      이름  학년   학점   학과   동아리
이영희  이영희   2  3.8  경영학  독서토론

#### DataFrame 행 정렬

> set_index('') - 일반 열이 아닌 인덱스로 설정

> sort_values() - 오름차순 정렬

> ascending = False - 내림차순 정렬

In [14]:
import pandas as pd

data = {
    "이름": ["김철수", "이영희", "박민수", "최지훈", "정소희"],
    "학년": [1, 2, 3, 4, 2],
    "학점": [4.2, 3.8, 4.5, 3.9, 3.5],
    "학과": ["컴퓨터공학", "경영학", "전자공학", "의학", "심리학"],
    "동아리": ["프로그래밍", "독서토론", "로봇공학", "봉사활동", "음악감상"]
}

# DataFrame 인덱스 지정
df_indexed = pd.DataFrame(data).set_index('이름')

# DataFrame 단일 열 오름차순, 내림차순 정렬
print(df.sort_values(by = '학점')) # 기본값은 ascending이 True
print(df.sort_values(by = '학점', ascending = False))

# DataFrame 복수 열 오름차순, 내림차순 정렬
print(df.sort_values(by = ['학년', '학점'] , ascending = [True, False]))

# DataFrame 인덱스 기분 오른차순, 내림차순 정렬
print(df_indexed.sort_index())
print(df_indexed.sort_index(ascending = False))

      이름  학년   학점     학과    동아리
정소희  정소희   2  3.5    심리학   음악감상
이영희  이영희   2  3.8    경영학   독서토론
최지훈  최지훈   4  3.9     의학   봉사활동
김철수  김철수   1  4.2  컴퓨터공학  프로그래밍
박민수  박민수   3  4.5   전자공학   로봇공학
      이름  학년   학점     학과    동아리
박민수  박민수   3  4.5   전자공학   로봇공학
김철수  김철수   1  4.2  컴퓨터공학  프로그래밍
최지훈  최지훈   4  3.9     의학   봉사활동
이영희  이영희   2  3.8    경영학   독서토론
정소희  정소희   2  3.5    심리학   음악감상
      이름  학년   학점     학과    동아리
김철수  김철수   1  4.2  컴퓨터공학  프로그래밍
이영희  이영희   2  3.8    경영학   독서토론
정소희  정소희   2  3.5    심리학   음악감상
박민수  박민수   3  4.5   전자공학   로봇공학
최지훈  최지훈   4  3.9     의학   봉사활동
     학년   학점     학과    동아리
이름
김철수   1  4.2  컴퓨터공학  프로그래밍
박민수   3  4.5   전자공학   로봇공학
이영희   2  3.8    경영학   독서토론
정소희   2  3.5    심리학   음악감상
최지훈   4  3.9     의학   봉사활동
     학년   학점     학과    동아리
이름
최지훈   4  3.9     의학   봉사활동
정소희   2  3.5    심리학   음악감상
이영희   2  3.8    경영학   독서토론
박민수   3  4.5   전자공학   로봇공학
김철수   1  4.2  컴퓨터공학  프로그래밍

## 6-5 실습 시나리오 - Kaggle을 활용한 데이터 수집 및 측정

- Kaggle([https://www.kaggle.com](https://www.kaggle.com)) 회원 가입
- Kaggle 접근 토큰 생성(API 키)

### Kaggle API 키 업로드

In [ ]:
from google.colab import files
files.upload()

### Kaggle API 키 사용을 위한 Colab 환경 설정

In [ ]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/
!chmod 600 ~/.kaggle/kaggle.json

### Kaggle 데이터셋 다운로드

In [ ]:
!kaggle competitions download –c store-sales-time-series-forecasting

!unzip store-sales-time-series-forecasting.zip

### Kaggle 데이터셋 DataFrame 로드 및 살펴보기

In [ ]:
import pandas as pd

# Grocery Sales 데이터 DataFrame 로드
train =  pd.read_csv('train.csv')
stores =  pd.read_csv('stores.csv')
transactions =  pd.read_csv('transactions.csv')
oil =  pd.read_csv('oil.csv')
holidays_events =  pd.read_csv('holidays_events.csv')

# 판매 데이터 살펴보기
train.info()

### Kaggle 데이터셋 측정

In [ ]:
# 판매 데이터 기본 통계량
train.describe()

# 매장 데이터 기본 정보
stores.head()

# 원유 가격 데이터 기본 정보
oil.head()