<a href="https://colab.research.google.com/github/Taeichang/DataAnalysis/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_3%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 3강 - 데이터 분석을 위한 파이썬 2

## 2.3 파이썬 문법 요소

### 2.3.1 언패킹

> 변수1, ..., 변수n = 시퀀스_객체

*   언패킹(unpacking)이란 시퀀스 자료형(리스트, 튜플, 문자열 등)에서 여러개의 값을 개별 변수에 분리하여 할당하는 기능

*   시퀀스 객체의 요소 수와 왼쪽 변수 개수는 일치해야 함

#### 언패킹 사용 예(1)

 * 언패킹은 서로 다른 데이터 타입에서도 동일한 방식으로 작동함

In [ ]:
#튜플 언패킹
coordinates = (10, 20)
x, y = coordinates
print(f'x좌표: {x}, y좌표: {y}')

# 리스트 언패킹
rgb = [255, 128, 0]
red, green, blue = rgb
print(f'빨강: {red}, 초록: {green}, 파랑: {blue}')

# 문자열 언패킹
word = 'ABC'
first, second, third = word
print(f'첫 번째 문자: {first}, 두 번째 문자: {second}, 세 번째 문자: {third}')

x좌표: 10, y좌표: 20
빨강: 255, 초록: 128, 파랑: 0
첫 번째 문자: A, 두 번째 문자: B, 세 번째 문자: C

#### 언패킹 사용 예(2)



1.   get_dataset_stats는 숫자 리스트릴 받아 최솟값, 최댓값, 평균값을 계산하여 한 번에 반환하는 다중 반환 함수
2.   data 리스트로 get_dataset_stats 함수를 호출하고, 반환된 세 개의 언패킹 값을 사용해 minimum, maximum, average 변수에 각각 할당
3. f-문자열 사용하여 출력함

In [ ]:
# 함수값 return 언패킹
def get_dataset_stats(values):
  return min(values), max(values), sum(values) / len(values)

data = [12, 8, 21, 17, 5, 32, 14]
minimum, maximum, average = get_dataset_stats(data)
print(f'최솟값: {minimum}, 최댓값: {maximum}, 평균: {average:.2f}')

최솟값: 5, 최댓값: 32, 평균: 15.57

#### 언패킹 사용 예(3)


*   반복문에서 컬렉션의 각 항목이 여러값으로 구성될 때 언패킹 활용 가능



1.   for문에서는 student_scores 리스트의 각 튜플을 순회, 언패킹을 통해 튜플에 포함된 네 개의 요소를 네개의 개별 변수에 할당한다
2.   세 과목 점수의 평균을 계산하고, f-문자열을 사용하여 출력

In [ ]:
# 반복문에서 언패킹 사용
student_scores = [
    ('김철수', 85, 92, 78),
    ('이영희', 92, 88, 95),
    ('박지민', 75, 83, 90)
]
for name, database, python, cloud in student_scores:
  average = (database + python + cloud) / 3
  print(f'{name}의 평균 점수: {average:.1f}')

김철수의 평균 점수: 85.0
이영희의 평균 점수: 91.7
박지민의 평균 점수: 82.7

#### 확장 언패킹 사용

*   Python 3에서는 별표(*)를 사용한 확장 언패킹이 추가됨
*   확장 언패킹은 나머지 모든 값을 하나의 라스트로 모을 수 있게 함

In [ ]:
# 1월, 2월 및 나머지 월 매출액
monthly_sales = [1200, 1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900, 2000]

first, second, *remaining = monthly_sales
print(f'1월 판매액: {first}')
print(f'2월 판매액: {second}')
print(f'나머지 월 판매액: {remaining}')

# 1월, 12월 및 나머지 월 매출액

first, *middle, last = monthly_sales
print(f'첫 달(1월) 판매액: {first}')
print(f'마지막 달(12월) 판매액: {last}')
print(f'중간 달(2~11월)의 판매액: {middle}')

1월 판매액: 1200
2월 판매액: 1350
나머지 월 판매액: [1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900, 2000]
첫 달(1월) 판매액: 1200
마지막 달(12월) 판매액: 2000
중간 달(2~11월)의 판매액: [1350, 1420, 1500, 1300, 1580, 1620, 1700, 1800, 1850, 1900]

### 2.3.2 언더스코어



*   for문에서는 반복 변수의 값이 필요하지 않을 때 이를 대체하는 역할을 함
*   반복의 횟수만 필요하고 변수값을 사용하지 않는 경우에는 _를 변수로 사용
*   코드의 의도를 명확하게 표현
*   단순한 반복 작업에서 불필요한 변수를 선언하지 않음

#### 언더스코어 사용 예(1)



*   for문을 활용하여 리스트나 튜플의 요소를 언패킹 할 때에도 필요하지 않은 요소가 있는 경우 _를 사용하여 해당 요소를 무시
*   값들이 메모리에 할당되긴 하지만, 이름과 성적만 추출하여 출력

In [ ]:
# 이름 및 성적만 출력
students = [
    (20251234, '김철수', '컴퓨터과학', 2, 3.8),
    (20265678, '이영희', '생활과학부', 3, 4.2),
    (20243456, '박민수', '사회복지학과', 1, 3.5)
]
print('이름과 성적 출력:')
for _, name, _, _, grade in students:
    print(f'{name}의 성적: {grade}')

이름과 성적 출력:
김철수의 성적: 3.8
이영희의 성적: 4.2
박민수의 성적: 3.5

#### 언더스코어 사용 예(2)



*   함수가 여러개의 값을 반환할 때 일부 값만 필요하고 나머지는 무시해야 할 때 사용

> get_coordinates() - (x,y,z) 형태의 튜플 반환

In [ ]:
# 함수 return 값 언더스코어 사용
def get_coordinates( ):
    return (10, 20, 30)

_, y, _ = get_coordinates()
print(y)

20

### 2.3.3 예외 처리



*   프로그램이 비정상적으로 종료되지 않도록 대비하는 기능
*   예외 처리를 하지 않는 경우, 오류가 발생하면 프로그램이 즉시 종료
*   파이썬은 try-except문 제공
*   finally 블록을 활용하여 예외 발생 여부와 관계없이 반드시 실행해야 하는 코드를 지정

#### 예외가 발생하는 예


1.   정수가 아닌 값 입력, int 함수에서 예외 발생
2.   0을 입력하였을 때 나눌 수 없는 값으로 나누는 예외 발생

In [ ]:
number = int(input('정수를 입력하세요: ' ))
result = 10 / number
print(f'결과: {result}')

#### try-execpt문 사용 예(1)

* 예외 처리가 없었다면 프로그램이 강제종료 되지만, except 블록을 사용하여 정상적인 흐름을 유지 할 수 있음



1.   try 블록 내의 코드에서 ZeroDivisionError 예외 발생
2.   execpt ZeroDivisionError 블록 실행, 메세지 출력

In [ ]:
number = int(input('정수를 입력하세요: '))

# try-except문
try:
    result = 10 / number
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')

정수를 입력하세요: 0
0으로 나눌 수 없습니다.

#### try-execpt문 사용 예(2)

In [ ]:
# try문
try:
    number = int(input('숫자를 입력하세요: '))
    result = 10 / number

# except문 1
except ValueError:
    print('유효한 숫자를 입력해야 합니다.')

# except문 2
except ZeroDivisionError:
    print('0으로 나눌 수 없습니다.')

숫자를 입력하세요: j
유효한 숫자를 입력해야 합니다.

#### try-execpt문 사용 예(3)



*   발생한 예외에 대한 구체적인 정보는 예외 객체를 통해 얻을 수 있다
*   as 키워드를 사용하여 예외 객체를 변수로 받아 메세지를 출력할 수 있다

In [ ]:
try:
        numbers = [1, 2, 3]
        print(numbers[3])
except IndexError as e:
    print(f'예외 발생: {e}')

예외 발생: list index out of range

#### finally 블록 사용 예



*   파일을 열거나 네트워크 연결을 사용하는 경우, 오류가 발생해도 자원을 정상적으로 해제하기 위해 finally 사용

In [ ]:
# try 문
try:
file = open('data.csv', 'r')
content = file.read( )
print(content)

# except 문
except FileNotFoundError:
print('파일을 찾을 수 없습니다.')

# fianlly 블럭
finally:
    print('파일 작업 종료.')
    file.close( )

## 2.4 함수형 프로그래밍



*   수학적 개념을 기반으로 한 프로그래밍 기법으로, 데이터 변경을 최소화하고 순수 함수를 활용하여 부작용을 줄이는 것을 목표로 함
*   코드 예측 가능성과 재사용이 높아지고, 병렬 처리와 같은 고급 연산에서도 안정성 확보

순수함수: 같은 입력에 대해 항상 값은 출력 반환. 함수 외부 상태를 변경하지 않는 함수를 의미. 함수 내부에서 외부 변수에 접근/수정하지 않으며, 오직 입력값 기반으로 결과를 계산

부작용: 함수 실행이 외부 세계에 영향을 미치는 행위를 의미. ex) 전역 변수 변경, 파일 입출력, 네트워크 통신, 화면 출력 등

### 2.4.1 람다 함수


*   이름이 없는 익명 함수로 한 줄의 표현식으로 작성
*   람다 함수와 def 키워드를 사용하는 일반 함수의 차이점은 정의하는 방식과 사용 용도
*   def 키워드: 여러 줄로 정의, 재사용이 높음
*   람다 함수: 한 줄로 표현, 즉시 사용할 수 있는 단순한 연산, 정의하는 동시에 사용

>lambda 매개변수: 표현식

* 매개변수: 쉼표로 구분하여 여러 개의 매개변수를 정의, 생략할 수도 있음
* 표현식: 함수의 반환값을 결정하는 단일 표현식, 단 하나만 허용, 결과는 자동으로 함수의 반환값이 되므로 return 사용 안 함

#### 람다 함수 활용




*   딕셔너리 구조에서 특정 값을 기준으로 변환


1.   adjust_salary 람다 함수는 입력된 급여 값을 10% 증가시킨 값을 반환
2.   딕셔너리 컴프리헨션을 활용하여 모든 직원의 급여를 조정

In [ ]:
employees = {
    '이지혜': 3000000,
    '구민준': 5000000,
    '방서연': 4100000
}

adjust_salary = lambda salary: salary * 1.1
updated_salaries = {name: adjust_salary(salary) for name, salary in employees.items()}

print(updated_salaries)

{'이지혜': 3300000.0000000005, '구민준': 5500000.0, '방서연': 4510000.0}

#### sorted() 함수를 통한 데이터 정렬의 예

> sorted() 함수는 key 매개변수를 통해 정렬 기준을 지정할 수 있음

In [ ]:
students = [
    ('김지은', 85),
    ('이민수', 92),
    ('박서현', 78),
    ('정준호', 88),
    ('최유진', 95)
]
sorted_students = sorted(students, key=lambda student: student[1])

print('성적 오름차순 정렬 결과:')
for name, score in sorted_students:
    print(f'{name}: {score}점')

성적 오름차순 정렬 결과:
박서현: 78점
김지은: 85점
정준호: 88점
이민수: 92점
최유진: 95점

### 2.4.2 map, filter, reduce

* 반복문을 사용하지 않고 리스트나 다른 반복 가능한 객체 요소를 손쉽게 조작 가능
* 데이터 변환, 필터링, 누적 연산

#### map 함수



>   map() 함수 - 반복 가능한 객체의 모든 요소에 특정 함수를 적용하여 새로운 값을 생성하는 함수

*   리스트나 튜플 같은 자료구조의 요소를 변경할 때 유용

###### map 함수 사용 예 (1)



1.   temperature_celsius 리스트 정의
2.   섭씨 온도를 인자로 받아서 화씨 온도로 변환하는 람다함수 celsius_to_fahrenheit 정의
3. map() 함수는 적용할 함수와 반복 가능한 객체인 리스트를 매개변수로 받아, 리스트의 각 요소에 지정된 함수를 적용한 결과를 반환
4. map() 함수의 결과는 map 객체이므로 list() 함수를 사용하여 리스트로 변환 후 temperature_fahrenheit에 저장

In [ ]:
temperature_celsius = [25.6, 27.8, 30.5, 22.3, 28.9, 31.2, 24.7]

# 함수 정의: 섭씨 -> 화씨
celsius_to_fahrenheit = lambda c: (c *9/5) + 32

# 온도 변환
temperature_fahrenheit = list(map(celsius_to_fahrenheit, temperature_celsius))

print('섭씨 온도 데이터:', temperature_celsius)
print('화씨 온도로 변환:', temperature_fahrenheit)

섭씨 온도 데이터: [25.6, 27.8, 30.5, 22.3, 28.9, 31.2, 24.7]
화씨 온도로 변환: [78.08, 82.04, 86.9, 72.14, 84.02, 88.16, 76.46]

###### map 함수 사용 예 (2)

* 문자열 데이터 변환 시 유용

1. map() 함수를 사용해 리스트의 각 단어에 람다 함수 lambda word: word.upper()를 적용 후 리스트로 변환

In [ ]:
words = ['python', 'data', 'analysis']

# 함수 정의 및 대문자화
uppercase_words = list(map(lambda word: word.upper(), words))

print(uppercase_words)

['PYTHON', 'DATA', 'ANALYSIS']

###### map 함수 사용 예 (3)

* 딕셔너리 데이터를 다룰 때 유용

In [ ]:
employees = [
    {'name': '김지원', 'salary': 3700000},
    {'name': '박민준', 'salary': 7000000},
    {'name': '이서연', 'salary': 4400000},
    {'name': '정현우', 'salary': 3500000}
]

updated_employees = list(map(lambda emp: {'name': emp['name'], 'salary': emp['salary']*1.1}, employees))

print('\n급여 인상 후:')

for emp in updated_employees:
    print(f'{emp['name']}: {int(emp['salary']):,}원')

급여 인상 후:
김지원: 4,070,000원
박민준: 7,700,000원
이서연: 4,840,000원
정현우: 3,850,000원

#### filter 함수


>   filter() 함수 - 리스트나 튜플 같은 반복 가능한 객체의 요소 중 특정 조건을 만족하는 요소만 남김
*   전체 데이터가 아닌 일부 데이터에만 처리 요구
* True/False를 반환하는 조건 함수를 첫 번째 인자로 받음
* 반복 가능한 객체를 두 번째 인자로 받음
* 해당 조건 함수가 true를 반환하는 요소만 새로운 컬렉션에 포함

###### filter 함수 사용 예 (1)



1.   filter() 함수는 lambda x: x % 2 == 0가 짝수인 경우 True를 반환하는 람다 함수를 첫 번째 인자로 받음
2.   두 번째 인자로 리스트를 받음
3. filter() 함수는 해당 조건을 만족하는 요소만 새로운 리스트에 포함시킨 후 list() 함수를 사용하여 filter 객체에서 리스트로 변환

In [ ]:
numbers = [10, 15, 20, 25, 30]
# 짝수 필터링
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

print(even_numbers)

[10, 20, 30]

###### filter 함수 사용 예 (2)

In [ ]:
osda_students = [
    {'name': '김지원', 'score': 85},
    {'name': '이민준', 'score': 65},
    {'name': '박서연', 'score': 90},
    {'name': '정현우', 'score': 55},
    {'name': '최예은', 'score': 78}
]

# 70점 이상 학생 목록 생성
passed_students = list(filter(lambda student: student['score'] >=70, osda_students))

print('70점 이상 합격한 학생 목록: ')
for student in passed_students:
    print(f'이름: {student["name"]}, 점수: {student["score"]}')

70점 이상 합격한 학생 목록:
이름: 김지원, 점수: 85
이름: 박서연, 점수: 90
이름: 최예은, 점수: 78

#### reduce 함수




> reduce 함수() - 리스트나 튜플과 같은 반복 가능한 객체의 모든 요소를 누적하여 하나의 값으로 축소하는 함수
*   여러 개의 데이터를 하나의 값으로 축약하여 표현
* functools 모듈에서 제공, 3 단계로 동작

1. 리스트 첫 번째와 두 번째 요소를 함수에 적용, 중간 결과를 생성
2. 중간 결과와 리스트의 다음 요소를 함수에 적용
3. 반복하여 최종적으로 하나의 값을 반환

###### filter 함수 사용 예 (1)

In [ ]:
from functools import reduce

numbers = [3, 7, 2, 9, 5]
# 누적 연산
total_sum = reduce(lambda x, y: x + y, numbers)

print(total_sum)

26

###### filter 함수 사용 예 (2)

* reduce() 함수에 의해 순차적으로 전체 요소와 각각 비교하는 방식으로 진행

In [ ]:
from functools import reduce

numbers = [3, 7, 2, 9, 5]
# 최대값 생성
max_value = reduce(lambda x, y: x if x > y else y, numbers)

print(max_value)

9